body, ul{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-top: 1.4rem;
}

#navLinks{
    display: flex;
    gap: 20px;
    list-style: none;
}

#logo{
    margin-right: 2rem;
}

#navLinks a{
    text-decoration: none;
}